@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  background-image: radial-gradient(circle at 11.64% 27.85%, #a8aaff 0, #7d91fd 25%, #3c78f2 50%, #0062e7 75%, #004fdd 100%);
  margin: 0;
  font-family: sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
